/* common css start */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* common css end */
/* header start */
header{
    /* border: 1px solid green; */
    padding: 15px 0;

}
.wrapper{
    overflow: hidden;
    margin: 0 auto;
    width: 88%;
    /* border: 1px solid red; */
}
.logo{
    margin-top: 3px;
    float: left;
    width: 6%;
    /* border: 1px solid black; */
}
.logo img{
    width: 100%;
}
.menu{
    float: right;
    width: 40%;
    /* border: 1px solid black; */
}
.menu ul{
    float:right;
    /* overflow: hidden; */
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
	color: #3B506C;
    padding: 0 35px;
    text-decoration: none;
    display: inline-block;
}
.menu ul li a:hover{
    color: #008AFF;
}
.menu ul li:last-child a {
    padding-right: 0;
}
/* header end */
/* banner start */
.banner{
    padding: 70px 0;
}
.wrapper2{
    margin: 0 auto;
    width: 50%;
    /* border: 1px solid red; */
}
.b_contant{
    text-align: center;
}
.b_span{
    color: #008AFF;
}
.b_h1{
    line-height: 75px;
    color:#0F2656;
    margin: 0;
    font-size: 58px;
}
.b_p{
    padding: 22px 0;
    line-height: 30px;
    font-size: 18px;
    margin: 0;
}
.b_img{
    /* border: 1px solid black; */
    width: 75%;
    margin: 0 auto;
}
.b_img img{
    transition: .6s;
    width: 100%;
}
.b_img img:hover{
    transform: scale(0.6);
}
/* banner end */
/* success start */
.service{
    /* border: 1px solid red; */
    padding: 70px 0;
}
.s_contant{
    overflow: hidden;
}
.s_left{
    padding: 0 0 0 0;
    text-align: right;
    float: left;
    width: 48%;
    /* border: 1px solid black ; */
}
.s_left h2{
    color: #F15767;
    margin: 0;
    font-size: 60px; 0;
}
.s_left p{
    color: #0F2656;
    font-size: 19px;
    line-height: 33px;
    margin: 0
}
.s_right{
    padding: 5px 0;
    float: right;
    width: 48%;
    /* border: 1px solid black ; */
}
.s_right h1{
    color: #0F2656;
    margin: 0;
    font-size: 58px;
}
/* success end */
/* service start */
.service{}
.s_wrapper{
}
.s_single{
    transition: .6s;
    margin-right: 40px;
    width: 28.03%;
    /* border: 1px solid black; */
    float: left;
    padding: 60px 31.07px;
}
.s_single:hover{
    transform: scale(0.6);
}
.s_single:last-child{
    margin-right: 0;
}
.pink{
    background-color: #FDEBED;
}
.green{
    background-color: #EBF9F4;
}
.yellow{
    background-color: #FFF7E8;
}  
.s_img img{
    width: 100%;
}
.s_single h2{
    color: #0F2656;
    font-size: 25px;
    margin: 15px 0;
}
.s_single p{
    line-height: 30px;
    font-size: 18px;
    color: #0F2656;
    margin: 0;
}
/* service end */
/* footer start */
.footer{
    margin-top: 60px;
}
.f_text{
    background-color: #008AFF;
    padding: 50px;
    text-align: center;
}
.f_p{
    color: #75CEFF;
}
.f_span{
    color: #FFFFFF;
}
/* footer end */